<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel='stylesheet' href='/static/css/common.css'>
</head>
<body>

	<div class = 'pg-header'>
	    <div class='header-menu'>
	   		<a href="/" class="digg-logo"></a>
	   		<a class='tb active' class='tb' href="/index/">全部</a>
	   		<a class='tb' href="/index/">42区</a>
	   		<a class='tb' href="/index/">段子</a>
	   		<a class='tb' href="/index/">图片</a>
	   		<a class='tb' href='/index/'>挨踢1024</a>
	   		<a class='tb' href="/index/">你问我答</a>
	    </div>
	</div>
    <div class='header-search'></div>
	
	<div class = 'pg-body'></div>
	
	<div class = 'pg-footer'></div>

</body>
</html>