<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
    body
    	{
    		font-size: .85em;
    		font-family:"Trebuchet MS",Verdana, Helvetica;
    		color:#232323;
    		backgroup-color:#fff;
    	}
    #Pageing A{ background-color:#008844;
    		border:1px solid White;
    		text-decoration:none; color:White;
    		padding: .1em .6em .2em .6em;
    }
    #Pageing A.selected{ background-color:#AA7700; }
</style>

<script src='http://code.jquery.com/jquery-1.12.0.min.js'></script>
<script>
       $(document).ready(function(){
    	  $("p").click(function(){
    	    $(this).hide();
    	  });
    	});
      
</script>
</head>
<body>
<p>如果您点击我，我会消失。</p>
<p>点击我，我会消失。</p>
<p>也要点击我哦。</p>
</body>
</html>